.colors-primary-10 {
  color: #8bb7ec;
}

.colors-primary-100 {
  color: #458be1;
}

.colors-primary-200 {
  color: #3a84df;
}

.colors-primary-300 {
  color: #2e7ddd;
}

.colors-primary-400 {
  color: #2a7adc;
}

.colors-primary-500 {
  color: #176ed9;
}

.colors-primary-600 {
  color: #1669ce;
}

.colors-primary-700 {
  color: #1563c3;
}

.colors-primary-800 {
  color: #145eb8;
}

.colors-primary-900 {
  color: #1258ae;
}

.colors-positive-10 {
  color: #82d2aa;
}

.colors-positive-100 {
  color: #37b677;
}

.colors-positive-200 {
  color: #2bb26f;
}

.colors-positive-300 {
  color: #1ead66;
}

.colors-positive-400 {
  color: #19ab63;
}

.colors-positive-500 {
  color: #05a455;
}

.colors-positive-600 {
  color: #05974e;
}

.colors-positive-700 {
  color: #05944d;
}

.colors-positive-800 {
  color: #048b48;
}

.colors-positive-900 {
  color: #048344;
}

.colors-alert-10 {
  color: #edbe80;
}

.colors-alert-100 {
  color: #e29633;
}

.colors-alert-200 {
  color: #e09026;
}

.colors-alert-300 {
  color: #df891a;
}

.colors-alert-400 {
  color: #de8614;
}

.colors-alert-500 {
  color: #db7c00;
}

.colors-alert-600 {
  color: #c97200;
}

.colors-alert-700 {
  color: #c57000;
}

.colors-alert-800 {
  color: #ba6900;
}

.colors-alert-900 {
  color: #af6300;
}

.colors-negative-10 {
  color: #d68d83;
}

.colors-negative-100 {
  color: #bd4839;
}

.colors-negative-200 {
  color: #b93c2c;
}

.colors-negative-300 {
  color: #b53120;
}

.colors-negative-400 {
  color: #b42c1b;
}

.colors-negative-500 {
  color: #ad1a07;
}

.colors-negative-600 {
  color: #9f1806;
}

.colors-negative-700 {
  color: #9c1706;
}

.colors-negative-800 {
  color: #931606;
}

.colors-negative-900 {
  color: #8a1506;
}
