body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Archivo";
  font-weight: 700;
  src: url("./shared/assets/fonts/archivo-v6-latin-700.woff2") format("woff2"),
    url("./shared/assets/fonts/archivo-v6-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("./shared/assets/fonts/roboto-v20-latin-regular.woff2")
      format("woff2"),
    url("./shared/assets/fonts/roboto-v20-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("./shared/assets/fonts/roboto-v20-latin-500.woff2") format("woff2"),
    url("./shared/assets/fonts/roboto-v20-latin-500.woff") format("woff");
}
